<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Puzzle 6</title>
    <link rel="stylesheet" href="door1chatst.css">
</head>
<header>
    <a href="/"><img src="home.webp" alt="home" width = "60vh" style = "position:fixed; filter: brightness(370%);"></a>
    <img src="question.png" id = "q" alt="home" width = "60vh" style = "position:fixed; margin-left: 80px; filter:invert(80%); cursor:pointer">

</header>

    <body>
<body>
    <div class="chat-container">
        <div class="chat-output" id="chat-output"></div>
        <div class="chat-input-container">
        <input class="chat-input" id="chat-input" type="text" placeholder="Type your message here" autofocus>
        <button class="chat-input-submit" id="chat-submit">Send</button>
        </div>
    </div>
    <div id="hint" class="modal">
        <div class = "modal-content">
            <div class="hint-popup">
              <p>Ask The AI riddler for hints<br><br>[Note: If the AI riddler did not answer, it may be because the API key has been expired, since this project is using a free trial of OpenAi's "gpt-3.5-turbo" model]</p>
              <button class = "chat-input-submit" id = "close">CLOSE</button>
              <button class="chat-input-submit" id = "sa">SHOW ANSWER</button>
              <p style="display:none" id = "sap">There is no answer, it is a dead end. The AI riddler is just wasting your time. Go to room 2</p>
            </div>
        </div>
</div>
<div id="rateModal" class="modal">
    <div class="modal-content">
        <p>Rate limit exceeded. Please do not send too many messages in a short time. Refresh and retry</p>
    <a href="/door1"><button class = "chat-input-submit">Retry</button></a>
    </div>
    </div>
    <div id="expModal" class="modal">
        <div class="modal-content">
            <p>API key has been expired, since this project is using a free version of OpenAI's gpt-3.5-turbo model</p>
        <a href="/door2"><button class = "chat-input-submit">Try next puzzle</button></a>
        </div>
        </div>

</body>
    <script src="./scripts/door3chatsrc.js"></script>
</html>