<!DOCTYPE html>
<html>
    <head>
        <title>Puzzle 7</title>
        <link rel="stylesheet" href="door2picst.css" />
    </head>
    <header>
        <a href="/"><img src="home.webp" alt="home" width = "60vh" style = "position:fixed; filter:brightness(370%);"></a>
        <img src="question.png" id = "q" alt="home" width = "60vh" style = "position:fixed; margin-left: 80px; filter:invert(80%); cursor:pointer">
    </header>
        <body>
      <canvas id="canvas"></canvas>
        <br>
        <input type="range" min="2" max="16" value="4" id="difficulty" style = "display: none"/>
        
    

        <div class="form-group">
            <input type="text" id="text-input" name="text-input" placeholder="Enter the name of the person" autofocus>
          </div>
          <div class="button-group">
            <button type="submit" id = "submit">Submit</button>
          </div>
      <div id="myModal" class="modal">
          <div class="modal-content">
              <p>Nice you have cracked the clue!</p>
          <a href="/door2morse"><button class = "chat-input-submit">Next clue</button></a>
          </div>
      </div>
      <div id="wrong-modal" class="modal">
          <div class="modal-content">
              <p style = "color: red">oops! wrong answer</p>
          <button class = "chat-input-submit" id = "trya" onclick = "funcgoback()">Try again</button>
        </div>
      </div>
      <div id="hint" class="modal">
        <div class = "modal-content">
            <div class="hint-popup">
              <p>He is the inventor of the World Wide Web</p>
              <button class = "chat-input-submit" id = "close">CLOSE</button>
              <button class="chat-input-submit" id = "sa">SHOW ANSWER</button>
              <p style="display:none" id = "sap">Tim Berners-Lee (or) Tim Berners (or) Tim Lee</p>
            </div>
        </div>
        </div>


      
    </body>
    <script src="./scripts/door2picsrc.js"></script>
    <script src="./scripts/door2picsrc2.js"></script>
</html>