<!DOCTYPE html>
<html>
<head>
	<title>Congratulations!</title>
	<link rel="stylesheet" type="text/css" href="finale.css">
</head>
<body id = "body">
    <div class = "prev" id = "prev">
        <div class="container" id = "container">
            <div id = "move">
                <h1>404 Error</h1>
                <p>Sorry, the page you requested was not found.</p>
            </div>
          </div>
    </div>
	<div class="container1" id = "container1">
		<h5>You have solved the puzzle, and found the website!</h5>
		<img src="confetti.png" alt="Confetti" class="confetti">
	</div>
</body>
<script src="./scripts/finalesrc.js"></script>
</html>
