<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Example Login Form</title>
	<link rel="stylesheet" href="loginst.css">
  </head>
<body>
  <div class = container>
	<form action="/login" method="POST">
		<div class="input-group">
		  <label for="email">Email:</label>
		  <input type="email" name="email" />
		</div>
		<div class="input-group">
		  <label for="password">Password:</label>
		  <input type="password" name="password" />
		</div>
		<button type = "submit">Login</button>
    <a href="/register"><button type = "button">Register</button></a>
	  </form>
  </div>
  </body>
  <script>
	window.onload = function() {
    const queryString = window.location.search;
    console.log(queryString); 

    const urlParams = new URLSearchParams(queryString);
    const error= urlParams.get('error');
    console.log(error)
    console.log(typeof error); 
    if(error === "invalid credentials")
    {
        alert("invalid credentials")
    }
    if(error === "you don't have admin privileges")
    {
        alert("you don't have admin privileges")
    }
  }
  </script>
</html>