<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Example Login Form</title>
    <link rel="stylesheet" href="loginst.css">
  </head>
  <body>
    <div class = "container">
        <form action="/register" method="POST">
            <div class="input-group">
              <label for="username">Username:</label>
              <input type="text" name="username" />
            </div>
            <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" name="email" />
            </div>
            <div class="input-group">
              <label for="password">Password:</label>
              <input type="password" name="password" />
            </div>
            <button>Register</button>
          </form>
    </div>
  </body>
  <script>
    window.onload = function() {
    const queryString = window.location.search;
    console.log(queryString); 

    const urlParams = new URLSearchParams(queryString);
    const error= urlParams.get('error');
    console.log(error)
    console.log(typeof error); 
    if(error === "user already exists")
    {
        alert("user already exists")
    }
    else if(error === "invalid email")
    {
        alert("invalid email")
    }
  }
  </script>
</html>